@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=block");
* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: lightgray;
}

.nos {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.nav {
    display: flex;
    padding: 10px;
    background: rgb(100, 100, 100);
    z-index: 1;
}

.header {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    color: white;
}

.header-mobile {
    display: flex;
    flex: 1;
}

.search {
    display: flex;
    flex: 0.5;
    flex-wrap: nowrap;
    margin: auto;
}

.search input {
    padding: 10px;
    border: none;
    outline: none;
}

.search input:first-child {
    flex: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search input:last-child {
    color: white;
    background: rgb(51, 51, 51);
    padding-left: 15px;
    padding-right: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.search input:last-child:hover {
    background: rgb(73, 73, 73);
}

.temp-type {
    margin: auto 0;
    display: flex;
    gap: 1px;
}

.temp {
    background: #8f8f8f;
    padding: 3px 10px;
    font-size: 12px;
    margin: auto;
    white-space: nowrap;
    cursor: pointer;
}

.temp:not(.active):hover {
    background: #999999;
}

.temp.active {
    background: lightgray;
}

.temp:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.temp:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main {
    display: flex;
    gap: 30px;
    flex: 1;
    margin: 0 5%;
}

.info {
    height: fit-content;
    width: fit-content;
    margin: auto;
    background: #bbcedf;
}

.info-heading {
    text-align: center;
    padding: 10px;
    background: aliceblue;
}

.city-wrapper {
    font-size: 32px;
}

.city-wrapper::after {
    content: "";
    display: block;
    height: 1px;
    width: 100px;
    background: #c9c9c9;
    margin: 3px auto 10px auto;
}

.display-wrapper {
    padding: 0 20px;
}

.temp-text {
    font-weight: 100;
}

#temp > span:last-child,
#temp_feels_like > span:last-child {
    font-size: 28px;
}

#temp_high > svg {
    color: #6c1414;
}

#temp_low > svg {
    color: #1f1f89;
}

#wind_speed > svg {
    color: whitesmoke;
}

#humidity > svg {
    color: #006593;
}

#sunrise > svg {
    color: #f3f300;
}

#sunset > svg {
    color: gray;
}

#status {
    font-style: italic;
}

.other-info {
    margin: 20px auto;
    gap: 20px;
}

.gap-5 {
    gap: 5px;
}

.location-wrapper {
    display: flex;
}

.map {
    height: fit-content;
    margin: auto;
    z-index: 0;
}

#map {
    width: calc(100vw / 2.5);
    height: calc(100vh / 2);
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 10px;
    width: 100%;
    height: 100%;
    background: #00000075;
}

.loader {
    -webkit-animation: spin 500ms linear infinite;
    -moz-animation: spin 500ms linear infinite;
    animation: spin 500ms linear infinite;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: rgb(100, 100, 100);
    color: white;
    z-index: 1;
}

footer a {
    vertical-align: middle;
    color: white;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.flex-c {
    flex-direction: column;
}

.gap-20 {
    gap: 20px;
}

.flex-ctr {
    justify-content: center;
    align-items: center;
}

.text-ctr {
    text-align: center;
}

.pad-10-20 {
    padding: 10px 20px;
}

.main p span,
.main div span {
    word-break: keep-all;
    white-space: nowrap;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 900px) {
    .main {
        flex-direction: column;
    }
}

@media only screen and (max-width: 740px) {
    .header-mobile {
        flex-direction: column;
    }

    .temp-type {
        margin: 10px auto 0 auto;
    }

    #map {
        width: 75vw;
        height: 50vh;
    }
}

@media only screen and (max-width: 440px) {
    .container {
        width: 420px;
    }

    .main {
        margin: auto;
    }

    .info {
        width: 400px;
    }

    #map {
        width: 330px;
    }
}
